#window-frame {
	border: 2rem solid #775079;
	
	height: 100%;
	box-sizing: border-box;
}
.window {
	position: absolute;
	z-index: -50;
	top: 0;
	background: #ffffff55;
	border-color: #ffffff99;
	height: 100%;
	width: 15%;
	border-width: .2rem;
}
#left-window {
	border-right-style: solid;
	left: 0;
}
#right-window {
	border-left-style: solid;
	right: 0;
}
#shelf {
	background: #775079;
	padding: 1rem;
}
.shelf-row {
	background: #a15d7b;	
	height: 5rem;
	width: 100%;
}
.i-hate-images {
	height: calc(var(--source-height) * var(--size-multiplier));
	width: calc(var(--source-width) * var(--size-multiplier));
}
#customer-container {
	position: absolute;
	bottom: 0rem;
	width: 100%;
	overflow-y: hidden;
	z-index: -100;

	display: flex;
	justify-content: center;

	curse-customer-portrait {
		--source-height: 200;
		--source-width: 133;
		--size-multiplier: .35rem;
		anchor-name: --customer;
	}
}
#hot-plate-container {
	position: absolute;
	left: 0;
	bottom: 1rem;
	width: 100%;

	display: flex;
	justify-content: center;

	curse-hot-plate {
		--source-height: 61;
		--source-width: 196;
		--size-multiplier: .17rem;
	}
}
#cup-on-table-container {
	position: absolute;
	bottom: 1rem;
	left: .5rem;

	curse-cup {
		--source-height: 45;
		--source-width: 28;
		--size-multiplier: .14rem;
	}
	
}
@media (max-width: 900px) {
	#window-frame {
		border-top: none;
		border-left: none;
		border-right: none;
	}
	.window {
		display: none;
	}
}
